.box{

    /* nd-color: rgb(231, 231, 210); */
    width: 500px;
    height: 250px;
    float:right;
    width: 280px;
            height: 180px;
            background-color: green;
            
            margin: 10px;
    /* border: 1px solid rgb(28, 0, 128) ; */
}
.box1{

    /* nd-color: rgb(231, 231, 210); */
    width: 500px;
    height: 250px;
    float:right;
    width: 280px;
            height: 180px;
            background-color: red;
            
            margin: 10px;
    /* border: 1px solid rgb(28, 0, 128) ; */
}
.box3{

    /* nd-color: rgb(231, 231, 210); */
    width: 500px;
    height: 250px;
    float:right;
    width: 280px;
            height: 180px;
            background-color: rgb(55, 0, 255);
            
            margin: 10px;
    /* border: 1px solid rgb(28, 0, 128) ; */
}